.title {
  width: 200px;
  font-size: 1em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px auto;
  color: var(--beat-white);
}

.artists {
  width: 200px;
  font-size: 0.8em;
  color: var(--beat-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px auto;
}