.playlist-time-scale canvas{
  position: relative !important;
  bottom: 0;
  
  }
.waveform{
  border: 1px solid #ccc;
}
.controls{
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  gap: 10px; /* 요소들 사이의 간격을 조절합니다 */
  border: 1px solid #ccc;
  position: relative;
  background-color: #101010;

}
.controls .track-header{
  display: flex;
  justify-content: center;
  gap:10px;
  /* border: 1px solid #ccc; */
  padding-top: 5%;
  padding-bottom: 10%;
}
.controls .volume{
  /* border: 1px solid #ccc; */
}
.track-remove{
  border: 1px solid #ccc;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" /%3E%3C/svg%3E') no-repeat center center;
  background-size: contain;
  /* background-size: contain !important;; */
;
}
.track-collapse{
  border: 1px solid #ccc;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" /%3E%3C/svg%3E') no-repeat center center;
  background-size: contain;
}
button{
  /* border: 1px solid #ccc;
  padding: 10px; */
}
.waveform .cursor{
  background-color: pink;
}
.waveform .selection{
  background-color: green;
}
.playlist-tracks{
  overflow: scroll;
  overflow-y: hidden !important;
}