@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ScrollBar styling */
/* Track */
::-webkit-scrollbar-track {
  background-color: #070707;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #202020;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #b5cc18;
}